.contacts{
    display: flex;   
    gap:15px;
    width: 660px;
    flex-wrap: wrap;
  
} 
.contacts li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
    margin-top: 10px;
}  
.contacts li a{
    font-size: 18px;
   
  
}

.maps{
    margin-top: 40px;
}

.con_main{
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    margin-bottom: 100px;
    
}

/* Text box */
.textbox{
/* Text box */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 22px 16px;
gap: 12px;

width: 522px;
height: 56px;

border: 1px solid #9B9B9C;
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text box */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 22px 16px;
gap: 12px;

width: 522px;
height: 56px;

border: 1px solid #9B9B9C;
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.msg{
    /* Text box */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 22px 16px;
gap: 12px;

width: 522px;
height: 128px;

border: 1px solid #9B9B9C;
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}
.Contact_form{
    position: absolute;
    top: 0;
    margin-top: 20px;
     
}
.Contact_form p{
    width: 400px;
}
.con_btn{
    /* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 42px;
color: white;
font-weight: 900;
width: 522px;
height: 56px;

/* Gradient 01 */
background: linear-gradient(92.96deg, #0076D0 37.17%, #0EFED4 106.2%);
border-radius: 70px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;

}
.tope{
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .con_main{
        flex-direction: column;
    margin-bottom: 20px;

    }
    .con_main .con_fo .tope{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .con_main .con_fo .tope .contacts{
        width: 300px;

        /* flex-direction: column; */
    }
    .Contact_form{
        position: static;
    }
    .maps iframe{
        width: 300px;
        height: 300px;
    }
    .textbox{
        width: 300px;
    }
    .msg{
        width: 300px;
    }
    .con_btn{
        width: 300px;
    }
    .form{
        margin-left: 10px;
       
    }
    .Contact_form p{
        width:300px;
        margin-left: 10px;
    }
    .Contact_form h1{
        width:300px;
        margin-left: 10px;
    }

}